* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslategray;
    overflow: hidden;
}

#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}