* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: black;
}

canvas {
    background: black;
    position: absolute;
    left: 0;
    top: 0;
}

.controls {
    position: absolute;
    padding: 10px;
    border: 2px solid white;
    left: 20px;
    top: 20px;
    width: 250px;
    background: rgba(255, 255, 255, 0.15);
}

button {
    padding: 10px 40px;
    width: 225px;
    font-size: 20px;
    transition: .25s;
}

label, input {
    color: white;
    font-size: 20px;
}