* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslategray;
}

#canvas1 {
    border: 4px solid black;
    box-shadow: 0 5px 12px rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 400px;
}