@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background:black;
}

#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
}