* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(47, 79, 79);
}

#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#title1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    line-height: 110px;
    white-space: nowrap;
    padding-inline: 0 20px;
    border-top: 5px solid black;
    color: transparent;
    background: linear-gradient(to right, red, orange, yellow, royalblue, navy, red);
    background-size: 200% auto;
    background-position: 0% 0%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 5s linear infinite alternate;
}

@keyframes animate {
    to {
        background-position: -200% 0%;
    }
}

#title1::before {
    content: 'is awesome';
    position: absolute;
    bottom: -70px;
    font-size: 60px;
    text-align: center;
    width: 100%;
    background: inherit;
    animation: animate 5s linear infinite alternate;
}
