@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkolivegreen;
}

#canvas1 {
    position: absolute;
}

.controls {
    position: absolute;
    z-index: 100;
}

img {
    display: none;
}

button {
    padding: 10px 20px;
    font-size: 28px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    font-family: "Bangers", system-ui;
    color: white;
    letter-spacing: 1px;
    background: black;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        scale: 1.05;
        color: black;
        background: white;
    }
}