* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkolivegreen;
}

#canvas1 {
    position: absolute;
}

.controls {
    position: absolute;
    z-index: 100;
}

img {
    display: none;
}